{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="container text-center">
        {% for auction in listings_data %}
        <div class="row justify-content-md-center">

    <div class="card mb-3 custom-card" style="max-width: 540px;">
      <div class="row g-0">

        <div class="col-md-4">
          <img src="{{auction.auction.image}}" class="img-fluid rounded-start" alt="{{ auction.auction.title }}" style="height:100%">
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <a href="{%url 'listing' auction.auction.id %}" class="stretched-link">
                <h5 class="card-title">{{ auction.auction.title }}</h5>
            </a>
            <p class="card-text">{{ auction.auction.description }}</p>
            <p class="card-text"><b>Price: ${{ auction.current_price }}</b></p>
            <p class="card-text"><small class="text-body-secondary">{{ auction.auction.create_at }}</small></p>
          </div>
        </div>
        
      </div>
    </div>
</div>
    
    {% endfor %}
</div>

{% endblock %}